@model PreSemester_Project.Models.Opportunity

@{
    ViewData["Title"] = "EditOpportunity";
}

<h1>Edit Opportunity</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOpportunity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" value="@Model.title" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datePosted" class="control-label"></label>
                <input asp-for="datePosted" class="form-control" value="@Model.datePosted" />
                <span asp-validation-for="datePosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="center" class="control-label"></label>
                <input asp-for="center" class="form-control" value="@Model.center"/>
                <span asp-validation-for="center" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" value="@Model.address"/>
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            @*Currently not displaying the time in the page*@
            <div class="form-group">
                <label asp-for="TimeOfEvent" class="control-label"></label>
                <input asp-for="TimeOfEvent" class="form-control" value="@Model.TimeOfEvent" />
                <span asp-validation-for="TimeOfEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" value="@Model.description" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Cancel" class="btn btn-primary" formnovalidate="formnovalidate" formaction="CancelOpportunity" style="float:right" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ManageOpportunities">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
